:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.dashboard {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;

}

.widgets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.widget {
  background: -webkit-linear-gradient(315deg, rgb(152, 207, 195), rgb(86, 181, 184));
  background: -moz-linear-gradient(315deg, rgb(152, 207, 195), rgb(86, 181, 184));
  background: linear-gradient(315deg, rgb(152, 207, 195), rgb(86, 181, 184));
  border-radius: 12px;
  color: #242424;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}