@import "tailwindcss";
.todo-todo-list-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.todo-input-container {
    width: 100%;
}
.todo-list {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}
.todo-list::-webkit-scrollbar {
  width: 8px;
}
.todo-list::-webkit-scrollbar-track {
  background: var(--background-dark-color);
  border-radius: 4px;
}
.todo-list::-webkit-scrollbar-thumb {
  background: var(--color-accent-dark);
  border-radius: 4px;
}
.todo-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.todo-item {
    transition: all 0.2s ease;

}
.todo-item span {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}
.todo-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.empty-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}