@import "tailwindcss";
.news-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  background: var(--background-dark-color);
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--color-accent-dark);
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .news-content > div:last-of-type {
  flex-shrink: 0;
  margin-top: auto;
  padding-top: 12px;
} */