.weather-desc::first-letter {
    text-transform: uppercase;
}
.weather-header{
    /* display: flex; */

}
.weather-city {
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.upper-section{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;
}
.temp-current{
    font-size: 50px;
    margin: 0;
}
.weather-desc {
    margin: 0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.5);
}
.weather-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}
.circle {
    border-radius: 50%;
    background-color: white;
    color: var(--secondary-dark-color);
    margin-top: auto;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-container {
    text-align: center;
}
.temp-feels{
    font-size: 15px;
    line-height: 1.2;
}
.temp-feels-temp {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
}